@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Step1</h2>
    <form action="/RunSimpleScript/Step2" method="post">
    <label>First Name</label><input type="text" id="firstname" name="firstname" />
    <label>Last Name</label><input type="text" id="lastname" name="lastname" />
    <input type="submit" name="submit" value="Submit"/>
</form>