@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Step2</h2>
<label>First Name</label><span>@ViewBag.FirstName</span>
<label>First Name</label><span>@ViewBag.LastName</span>
